<div style="height: 57px;"></div>

<div class="abso">
  <div class="loginform-container">
    <div class="title-login">Log in</div>
    <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">
      <div class="profile-input-container">
        <input type="email" class="input" placeholder="Username/Email ID*" name="userEmail" ngModel required email
          matInput />
        <a class="forgot-profile" href="#">FORGOT USERNAME?</a>

        <input type="password" class="input" placeholder="Password*" name="password" ngModel required minlength="4"
          matInput />
        <a class="forgot-profile" href="#">FORGOT PASSWORD?</a>


      </div>
      <div class="checkbox">
        <input type="checkbox" name="isRememberMe" id="cookie-ckbox" ngModel />
        <label for="cookie-ckbox"> Remember Me</label>
      </div>


      <div class="btn">
        <button id="submit-btn" color="success" type="submit" [disabled]="!loginform.valid" mat-raised-button>LOG
          IN</button>
      </div>
    </form>

    <div class="create-account">
      <p>Not registered yet?</p>
      <a href="#" id="newacc">CREATE AN ACCOUNT</a>
    </div>

    <!-- <button class="btn btn-default" (click)="onLogin()">Login</button>
    <button class="btn btn-default" (click)="onLogout()">Logout</button> -->

  </div>
  <div class="link-container">
    <a href="http://" class="links">About</a>

    <a href="http://" class="links">Contact Us</a>
  </div>
</div>