.abso {
    position: absolute;
    height: calc(100vh - 56px);
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.loginform-container {
    transition-duration: 600ms;
    background-color: white;
    text-align: center;
    position: relative;
    margin: auto;
    // top: 23%;
    width: 488px;
    padding: 20px;
    border-top: 4px solid var(--color-blue-dark);

    .title-login {
        font-size: var(--fontsize-heading-large);
        color: var(--color-text-dark);
        font-weight: var(--fontweight-medium);
    }

    .profile-input-container {
        margin: 20px 0;

        input {
            border: 0px;
            width: 99%;
            margin-top: 10px;
            margin-bottom: 2px;
            border-bottom: 1px solid #eeeeee;
            outline: none;
            font-size: medium;
            font-family: inherit;
        }

        .forgot-profile {
            margin-top: 0;
            display: block;
            font-weight: var(--fontweight-medium);
            font-size: var(--fontsize-normal);
            text-align: end;
            border: none;
            color: var(--color-text-primary);
            text-decoration: none;
            margin-bottom: 32px;
        }
    }

    .checkbox {
        text-align: left;
        margin-bottom: 12px;

        #cookie-ckbox {
            accent-color: var(--color-primary-dark);
        }

        label {
            font-weight: 500;
        }
    }

    .btn {
        text-align: center;
        margin: 20px;

        #submit-btn {
            border-radius: 2px;
            margin: 10px 0;
            padding: 10px 15%;
            color: black;
            // font-weight: var(--fontweight-bold);
            // background-color: var(--color-primary);
            border: 0;

        }
    }

    .create-account {
        // margin-bottom: 12px;

        p {
            margin-bottom: 5px;
            font-weight: var(--fontweight-medium);
            font-size: var(--fontsize-small);
            color: var(--color-text-dark);
        }

        #newacc {
            font-size: var(--fontsize-subheading);
            font-weight: var(--fontweight-medium);
            color: var(--color-text-primary);
            text-decoration: none;

        }
    }
}

.link-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    // margin-bottom: 16px;
    // z-index: 100;
    bottom: 40px;

    .links {
        text-decoration: none !important;

        margin-right: 10px;
        color: #1f7a54;
        font-weight: medium;
        font-size: 14px;
    }
}



@media screen and (max-width: 625px) {

    .loginform-container {
        width: 325px;
        transition-duration: 600ms;
    }
}