<mat-card>
    <mat-card-content>
        <div class="card-container">
            <div class="expiring-container" *ngIf="walkinObject.isexpring">
                <div>{{walkinObject.expiredTitle}}</div>
            </div>
            <div class="title-container">
                <div class="title">{{walkinObject.title}}
                </div>
                <button class="apply-button" (click)="onTapOnApply()" mat-raised-button>APPLY</button>
            </div>
            <div class="date-time-location">
                <p class="date-time-title">Date & Time :</p>
                <p class="date-time-location-container">
                    <span class="date-time-content">10-Jul-2021 to 11-Jul-2021</span>
                    <mat-divider [vertical]="true" style="height:5px ;width: 1px; display: inline;"></mat-divider>
                    <span class="location-container">
                        <span class="icon-container"><img class="location-icon"
                                src="/assets/images/location_on_black_24dp.svg" alt="location: "></span>
                        <span class="location-content">Mumbai</span>
                    </span>
                </p>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="job-role-container">
                <p class="jobrole-title">Job Roles :</p>
                <div class="jobrole-grid">
                    <div class="jobrole-card" *ngFor="let jobroleitem of walkinObject.jobRoleList;let i=index;">
                        <img src="/assets/images/{{jobroleitem.roleName}}.svg" alt="">
                        <div class="content">{{jobroleitem.roleName}}</div>
                    </div>
                </div>
            </div>
            <div class="note-container">
                <span class="note" *ngIf="walkinObject.isNote">
                    {{walkinObject.note}}
                </span>
            </div>
        </div>
        <!-- expandeble -->
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Pre-requisites & Application Process
                    </mat-panel-title>
                    <mat-panel-description>

                        <img *ngIf="!panelOpenState" src="/assets/images/expand_less_black_24dp.svg"
                            class="flip-arrow-icon" alt="">
                        <img *ngIf="panelOpenState" src="/assets/images/expand_less_black_24dp.svg"
                            class="unflip-arrow-icon" alt="">
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="pre-requisites-content">
                    <div class="instruction-container">
                        <div class="title">General Instructions :</div>
                        <div class="info">
                            <div *ngFor="let item of walkinObject.walkinInstruction.generalInstruction">
                                - {{item}}
                            </div>
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div class="instruction-container">
                        <div class="title">Instructions for the Exam :</div>
                        <div class="info">
                            <div *ngFor="let item of walkinObject.walkinInstruction.examInstruction">
                                - {{item}}
                            </div>
                        </div>
                    </div>

                    <mat-divider [inset]="true"></mat-divider>
                    <div class="instruction-container">
                        <div class="title">Minimum System Requirements :</div>
                        <div class="info">
                            <div *ngFor="let item of walkinObject.walkinInstruction.systemRequirement">
                                - {{item}}
                            </div>
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div class="process-round-container">
                        <div class="title">Process :</div>
                        <div class="info">
                            <div class="process-container"
                                *ngFor="let psitem of walkinObject.walkinInstruction.processDetails?.processInstructionList">
                                - {{psitem}}
                            </div>
                            <br>
                            <div class="round-container"
                                *ngFor="let round of walkinObject.walkinInstruction.processDetails?.rounds; let i=index">
                                <div>
                                    <div>round {{round.roundNo}} : {{round.roundDate}}</div>
                                    <div>{{round.roundTitle}}</div>

                                </div>

                                <br *ngIf="(i+1)!==(walkinObject.walkinInstruction.processDetails?.rounds?.length)">
                            </div>
                        </div>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>