
.footer {
    background-color: #eeeeee;

    .links {
      display: flex;
      justify-content: center;

      a {
        margin: 0 10px 10px 0;
        text-decoration: none;
        color: #1f7a54;
        font-weight: 500;
      }

      p {
        margin: 0 10px 0 0;
      }
    }

    .info-footer {
      display: flex;
      justify-content: center;
      background-color: #d3d3d3;

      .separate-logo {
        padding: 0 10px;
      }
      p {
        font-size: small;
        margin-right: 8px;
      }
    }
}
