@font-face {
  font-family: quantum-font;
  src: url("/SCSS/Quicksand/Quicksand-VariableFont_wght.ttf");
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #EEEEEE;
  font-family: quantum-font;
}

.footer {
  background-color: #eeeeee;
}
.footer .links {
  display: flex;
  justify-content: center;
}
.footer .links a {
  margin: 0 10px 10px 0;
  text-decoration: none;
  color: #1f7a54;
  font-weight: 500;
}
.footer .links p {
  margin: 0 10px 0 0;
}
.footer .info-footer {
  display: flex;
  justify-content: center;
  background-color: #d3d3d3;
}
.footer .info-footer .separate-logo {
  padding: 0 10px;
}
.footer .info-footer p {
  font-size: small;
  margin-right: 8px;
}

.quantum-dashboard {
  margin: 0;
  font-family: quantum-font;
  display: flex;
  flex-direction: column;
}
.quantum-dashboard .header-quantum-dashboard {
  background: url("/SCSS/header pattern image.png");
  display: flex;
  filter: contrast(120%);
}
.quantum-dashboard .header-quantum-dashboard .logo-header img {
  margin: 8px 0 8px 20px;
}
.quantum-dashboard .header-quantum-dashboard .navbar {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantum-dashboard .header-quantum-dashboard .navbar #sm-screen {
  display: none;
}
.quantum-dashboard .header-quantum-dashboard .navbar #underline {
  padding: 20px;
  border-bottom: 2px solid black;
}
.quantum-dashboard .header-quantum-dashboard .navbar * {
  font-family: quantum-font;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: small;
}
.quantum-dashboard .header-quantum-dashboard .navbar img {
  padding: 5px 8px 5px 8px;
  text-align: center;
}
.quantum-dashboard .content-dashboard {
  padding: 10px 10px 0 10px;
  background-color: #EEEEEE;
}
.quantum-dashboard .content-dashboard .number-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8DDC97;
  margin: 5px;
  padding: 0;
}
.quantum-dashboard .content-dashboard .number-content .child-number-content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.quantum-dashboard .content-dashboard .number-content .child-number-content * {
  margin-left: 2px;
  margin-right: 2px;
}
.quantum-dashboard .content-dashboard .number-content .child-number-content .one {
  border-bottom: 1px solid black;
}
.quantum-dashboard .content-dashboard .number-content .child-number-content img {
  width: 30px;
  height: 30px;
}
.quantum-dashboard .content-dashboard .number-content .child-number-content h2 {
  font-size: larger;
}
.quantum-dashboard .content-dashboard .number-content .child-number-content p {
  font-size: small;
  font-weight: 500;
}
.quantum-dashboard .content-dashboard .info-content {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
  font-family: inherit;
}
.quantum-dashboard .content-dashboard .info-content .small-info-content {
  font-size: small;
  color: #686868;
}
.quantum-dashboard .content-dashboard .info-content .right-info-content {
  display: flex;
  margin-left: auto;
}
.quantum-dashboard .content-dashboard .info-content .right-info-content .sort {
  border: 0;
  background-color: #eeeeee;
  font-family: inherit;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  margin: 5px;
  margin-right: 10px;
  border-bottom: 1px solid #d3d3d3;
}
.quantum-dashboard .content-dashboard .grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(476px, 1fr));
  grid-auto-rows: repeat(auto-fit, auto);
}
.quantum-dashboard .content-dashboard .grid .element-grid {
  background-color: white;
  margin: 20px;
  padding: 10px;
}
.quantum-dashboard .content-dashboard .grid .top {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
}
.quantum-dashboard .content-dashboard .grid .top .image-top-left {
  margin: 12px 0 5px 5px;
}
.quantum-dashboard .content-dashboard .grid .top .image-top-left img {
  padding: 5px;
}
.quantum-dashboard .content-dashboard .grid .top .content-top-right {
  justify-content: center;
  width: inherit;
  margin-left: 5px;
  margin-top: 0;
}
.quantum-dashboard .content-dashboard .grid .top .content-top-right * {
  font-weight: 500;
  color: #666666;
}
.quantum-dashboard .content-dashboard .grid .top .content-top-right .small {
  font-size: small;
  font-weight: 600;
}
.quantum-dashboard .content-dashboard .grid .top .content-top-right .topic {
  display: flex;
}
.quantum-dashboard .content-dashboard .grid .top .content-top-right .topic .head-topic-content {
  font-weight: 700;
  color: black;
  margin-bottom: 0;
}
.quantum-dashboard .content-dashboard .grid .top .content-top-right .topic img {
  margin-left: auto;
  height: 20px;
  margin-top: auto;
}
.quantum-dashboard .content-dashboard .grid .top .content-top-right .subject > .green-text {
  color: #1F7A54;
}
.quantum-dashboard .content-dashboard .grid .top .content-top-right .unit > .bold-number {
  font-weight: 700;
  color: black;
}
.quantum-dashboard .content-dashboard .grid .top .content-top-right .select-class {
  color: black;
  border: 0;
  border-bottom: 1px solid #d3d3d3;
  padding-right: 30px;
  padding-bottom: 2px;
  font-family: quantum-font;
  font-weight: 600;
  font-size: large;
  margin-top: 8px;
}
.quantum-dashboard .content-dashboard .grid .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 0;
  padding-top: 5px;
}
.quantum-dashboard .content-dashboard .grid .bottom img {
  margin: 5px;
  padding: 10px;
  margin: 0px 48px;
}

@media screen and (max-width: 768px) {
  .header-quantum-dashboard .navbar a {
    display: none;
  }
  .header-quantum-dashboard .navbar #sm-screen {
    display: block;
  }
  .grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .grid .element-grid {
    padding-right: 50px;
    height: inherit;
    width: inherit;
  }
  .content-top-right > .select-class {
    margin-right: 50px;
  }
}/*# sourceMappingURL=dashboard-design.css.map */