<div style="height: 26px;"></div>
<!-- (applyEventEmitter)="onTapOnWalkinApplyHandler($event)" -->
<div>

    <form [formGroup]="applyInWalkin" (ngSubmit)="onTapOnWalkinApplyHandler()">
        <div class="title-card">
            <mat-card>
                <mat-card-content>
                    <div class="card-container">
                        <!-- <div class="expiring-container" *ngIf="walkinObject.isexpring">
                        <div>{{walkinObject.expiredTitle}}</div>
                    </div> -->
                        <div class="title-container">
                            <div class="title">{{walkinObject.walkinTitle}}
                            </div>
                            <button class="apply-button" color="success" type="submit" [disabled]="!applyInWalkin.valid"
                                mat-raised-button>APPLY</button>
                        </div>
                        <div class="date-time-location">
                            <p class="date-time-title">Date & Time :</p>
                            <p class="date-time-location-container">
                                <span class="date-time-content">10-Jul-2021 to 11-Jul-2021</span>
                                <mat-divider [vertical]="true"
                                    style="height:5px ;width: 1px; display: inline;"></mat-divider>
                                <span class="location-container">
                                    <span class="icon-container"><img class="location-icon"
                                            src="/assets/images/location_on_black_24dp.svg" alt="location: "></span>
                                    <span class="location-content">Mumbai</span>
                                </span>
                            </p>
                        </div>
                        <mat-divider [inset]="true"></mat-divider>
                        <div class="job-role-container">
                            <p class="jobrole-title">Job Roles :</p>
                            <div class="jobrole-grid">
                                <div class="jobrole-card"
                                    *ngFor="let jobroleitem of walkinObject.walkinJobRole;let i=index;">
                                    <img src="/assets/images/{{jobroleitem.roleName}}.svg" alt="">
                                    <div class="content">{{jobroleitem.roleName}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="note-container">
                            <span class="note" *ngIf="walkinObject.walkinNotes">
                                {{walkinObject.walkinNotes}}
                            </span>
                        </div>
                    </div>
                    <!-- expandeble -->
                    <mat-accordion>
                        <mat-expansion-panel (opened)="isPrerequsitesOpenState = true"
                            (closed)="isPrerequsitesOpenState = false" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Pre-requisites & Application Process
                                </mat-panel-title>
                                <mat-panel-description>

                                    <img *ngIf="!isPrerequsitesOpenState"
                                        src="/assets/images/expand_less_black_24dp.svg" class="flip-arrow-icon" alt="">
                                    <img *ngIf="isPrerequsitesOpenState" src="/assets/images/expand_less_black_24dp.svg"
                                        class="unflip-arrow-icon" alt="">
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="pre-requisites-content">
                                <div class="instruction-container">
                                    <div class="title">General Instructions :</div>
                                    <div class="info">
                                        <div *ngFor="let item of walkinObject.walkinInstruction.generalInstructions">
                                            - {{item}}
                                        </div>
                                    </div>
                                </div>
                                <mat-divider [inset]="true"></mat-divider>
                                <div class="instruction-container">
                                    <div class="title">Instructions for the Exam :</div>
                                    <div class="info">
                                        <div *ngFor="let item of walkinObject.walkinInstruction.examInstructions">
                                            - {{item}}
                                        </div>
                                    </div>
                                </div>

                                <mat-divider [inset]="true"></mat-divider>
                                <div class="instruction-container">
                                    <div class="title">Minimum System Requirements :</div>
                                    <div class="info">
                                        <div *ngFor="let item of walkinObject.walkinInstruction.systemRequirements">
                                            - {{item}}
                                        </div>
                                    </div>
                                </div>
                                <mat-divider [inset]="true"></mat-divider>
                                <div class="process-round-container">
                                    <div class="title">Process :</div>
                                    <div class="info">
                                        <div class="process-container"
                                            *ngFor="let psitem of walkinObject.walkinInstruction.processDetails.processInstruction">
                                            - {{psitem}}
                                        </div>
                                        <br>
                                        <div class="round-container"
                                            *ngFor="let round of walkinObject.walkinInstruction.processDetails?.rounds; let i=index">
                                            <div>
                                                <div>round {{round.roundNo}} : {{round.roundDate}}</div>
                                                <div>{{round.roundTitle}}</div>
                                            </div>
                                            <br
                                                *ngIf="(i+1)!==(walkinObject.walkinInstruction.processDetails?.rounds?.length)">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>

                </mat-card-content>
            </mat-card>

        </div>
        <!-- <app-timeslot-preferances-card [walkinObject]="walkinObject"></app-timeslot-preferances-card> -->
        <div class="timeslot-preferances-card">
            <mat-card>
                <mat-card-content>
                    <div class="timeslot-perferances-content">
                        <div class="title-container">
                            <div class="title">Time Slots & Preferences
                            </div>
                        </div>

                        <div class="select-time-container">
                            <div class="title">Select a Time Slot :</div>
                            <div class="content">
                                <div class="radio-container">
                                    <mat-radio-group aria-label="Select an option" formControlName="timeSlotId">
                                        <div class="radio-tile" *ngFor="let item of walkinObject.walkinTimeSlot">
                                            <mat-radio-button value="{{item.walkinTimeSlotId}}"
                                                name="walkinTimeSlotId">{{item.timeSlot}} </mat-radio-button>
                                        </div>
                                    </mat-radio-group>
                                </div>

                            </div>
                        </div>
                        <mat-divider [inset]="true"></mat-divider>
                        <div class="select-jobrole-container">
                            <div class="title">Select Your Preference :</div>
                            <div class="content">
                                <div class="checkbox-container" formGroupName="jobroleList">
                                    <div class="checkbox-tile" *ngFor="let i of walkinObject.walkinJobRole;">
                                        <input id="jobrole-checkbox" type="checkbox" class=""
                                            name="{{i.walkinJobRoleId}}"
                                            (change)="onPreferedRoleChange(i.walkinJobRoleId,$event )">

                                        <span>
                                            {{ i.roleName }}
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <mat-divider [inset]="true"></mat-divider>
                        <div class="upload-resume-container">
                            <button mat-button type="button">
                                <div>
                                    <img src="/assets/images/Upload_black_24dp.svg" alt="">
                                    UPLOAD UPDATED RESUME
                                </div>
                            </button>
                        </div>

                    </div>

                </mat-card-content></mat-card>
        </div>


        <div class="job-role-list-container" *ngFor="let jobRole of walkinObject.walkinJobRole;">
            <mat-accordion>
                <mat-expansion-panel (opened)="jobRole.istoggle= true" (closed)="jobRole.istoggle = false" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{jobRole.roleName}}
                        </mat-panel-title>
                        <mat-panel-description>

                            <img *ngIf="!jobRole.istoggle" src="/assets/images/expand_less_black_24dp.svg"
                                class="flip-arrow-icon" alt="">
                            <img *ngIf="jobRole.istoggle" src="/assets/images/expand_less_black_24dp.svg"
                                class="unflip-arrow-icon" alt="">
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="jobrole-content">
                        <div class="instruction-container mb16">
                            <div class="title">gross compensation package :</div>
                            <div class="info">
                                <div>
                                    {{jobRole.grossCompensationPackage}}
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="instruction-container mb16">
                            <div class="title">Role Description :</div>
                            <div class="info">
                                <div *ngFor="let desc of jobRole.roleDescription">
                                    - {{desc}}
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <div class="instruction-container">
                            <div class="title">Requirements :</div>
                            <div class="info">
                                <div *ngFor="let req of jobRole.requirements">
                                    - {{req}}
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <button class="apply-bottom-button" type="submit" mat-raised-button>APPLY</button>
    </form>
</div>