<div style="height: 57px;"></div>
<router-outlet></router-outlet>
<button class="btn btn-default" (click)="onLogout()">Logout</button>
<div style="height: 57px;"></div>
<!-- <div class="content">
    <mat-grid-list cols="1" rowHeight="min-content" gutterSize="24px">
        <mat-grid-tile rowHeight="fit"><mat-card>
                <mat-card-content>Simple card</mat-card-content>
                <mat-card-content>Simple card</mat-card-content>
                <mat-card-content>Simple card</mat-card-content>
                <mat-card-content>Simple card</mat-card-content>
                <mat-card-content>Simple card</mat-card-content>
                <mat-card-content>Simple card</mat-card-content>
                <mat-card-content>Simple card</mat-card-content>
                <mat-card-content>Simple card</mat-card-content>
                <mat-card-content>Simple m</mat-card-content>
                <mat-card-content>Simple m</mat-card-content>
                <mat-card-content>Simple m</mat-card-content>
                <mat-card-content>Simple m</mat-card-content>
            </mat-card></mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>

</div> -->