<div class="successfully-applied-card">

    <mat-card>
        <mat-card-content>
            <div class="image-container"><img src="assets/images/check_black_24dp.svg" alt=""></div>
            <div class="success-title">
                Congratulations ! You have successfully applied for the walk-in opportunity
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="datetime-container">
                <div class="title">
                    Date & Time of Walk-In :
                </div>
                <div class="date">
                    03rd July 2021
                </div>
                <div class="time">9:00 AM to 11:00 AM</div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="vanue-container">
                <div class="title">Venue of Walk-In :</div>
                <div class="info">
                    <div>Zeus Systems Pvt. Ltd.</div>
                    <div>1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam
                        Marg</div>
                    <div>Lower Parel (W)</div>
                    <div>Mumbai - 400 013</div>
                    <div>Phone: +91-22-66600000</div>

                </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="thingstoremember-container">
                <div class="title">THINGS TO REMEMBER :</div>
                <div class="info">
                    <div>- Please report 30 MINUTES prior to your reporting time.</div>
                    <div>- Download your Hall Ticket from below and carry it with you
                        during your Walk-In.</div>
                </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="download-button-container">
                <button class="download-button" mat-raised-button>DOWNLOAD HALL TICKET</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>