<mat-card>
    <mat-card-content>
        <div class="timeslot-perferances-content">
            <div class="title-container">
                <div class="title">Time Slots & Preferences
                </div>
            </div>

            <div class="select-time-container">
                <div class="title">Select a Time Slot :</div>
                <div class="content">
                    <div class="radio-container">
                        <mat-radio-group aria-label="Select an option">
                            <div class="radio-tile" *ngFor="let item of walkinObject.walkinTimeSlot">
                                <mat-radio-button value="{{item.walkinTimeSlotId}}">{{item.timeSlot}}</mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>

                </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="select-jobrole-container">
                <div class="title">Select Your Preference :</div>
                <div class="content">
                    <div class="checkbox-container">
                        <div class="checkbox-tile" *ngFor="let i of walkinObject.walkinJobRole">
                            <mat-checkbox class="">
                                {{i.roleName}}
                            </mat-checkbox>
                        </div>

                    </div>
                </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="upload-resume-container">
                <button mat-button>
                    <div>
                        <img src="/assets/images/Upload_black_24dp.svg" alt="">
                        UPLOAD UPDATED RESUME
                    </div>
                </button>
            </div>

        </div>

    </mat-card-content></mat-card>