<div class="successfully-applied-card">

    <mat-card>
        <mat-card-content>
            <div class="image-container"><img src="assets/images/check_black_24dp.svg" alt=""></div>
            <div class="success-title">
                Congratulations ! You have successfully applied for the walk-in opportunity
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="datetime-container">
                <div class="title">
                    Date & Time of Walk-In :
                </div>
                <div class="date">
                    <!-- pending -reqvied to add in table -->
                    03rd July 2024
                </div>
                <div class="time">{{selectedTimeSlot}}</div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="vanue-container">
                <div class="title">Venue of Walk-In :</div>
                <div class="info">
                    <div>{{walkinObject.walkinAddress.companyName}}</div>
                    <div>{{walkinObject.walkinAddress.address}}</div>
                    <div>{{walkinObject.walkinAddress.landmark}}</div>
                    <div>{{walkinObject.walkinAddress.city}} -{{walkinObject.walkinAddress.pinCode}}</div>
                    <div>Phone: {{walkinObject.walkinAddress.phone}}</div>

                </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="thingstoremember-container">
                <div class="title">THINGS TO REMEMBER :</div>
                <div class="info">

                    <div *ngFor="let ThingsToRememberItem of walkinObject.walkinThingsToRemember">
                        <div>{{ThingsToRememberItem}}</div>
                    </div>
                </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="download-button-container">
                <button class="download-button" mat-raised-button>DOWNLOAD HALL TICKET</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>